@import './styles/animations.css';
@import './styles/carousel.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}